Source: longshoreman
Section: misc
Priority: extra
Maintainer: Matt Sanford <matt@mzsanford.com>
Build-Depends: debhelper (>= 8.0.0),
               golang-go
Standards-Version: 3.9.2
#Vcs-Git: https://github.com/mzsanford/longshoreman.git
#Vcs-Browser: https://github.com/mzsanford/longshoreman
Package: longshoreman
Architecture: amd64
Version: 0.1.1
Depends:
Built-Using: ${misc:Built-Using}
Description: Remote docker controller
 longshoreman binary for managing remote docker containers
